<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KompisKlanen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1DBE95B31E48EB39002B1FCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DBE95C71E48EB39002B1FCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DBE95D21E48EB39002B1FCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
